@use '/src/scss/base/variables' as v

/*Prefijos para mt, mb, ms, me pt, pb, ps, pe:
t = top
b = bottom
s = start (left)
e = end (right)
Clases para los márgenes y paddings*/

//Margins
.m-0{
    margin: v.$spacer-0;
}
.m-1{
    margin: v.$spacer-1;
}
.m-2{
    margin: v.$spacer-2;
}