@use '../base/variables' as v;

@each $key, $value in v.$spacers {
    .m-#{$key} { margin: $value !important; }
    .mt-#{$key} { margin-top: $value !important; }
    .mb-#{$key} { margin-bottom: $value !important; }
    .p-#{$key} { padding: $value !important; }
    .pt-#{$key} { padding-top: $value !important; }
    .pb-#{$key} { padding-bottom: $value !important; }
    .py-#{$key} { 
        padding-top: $value !important; 
        padding-bottom: $value !important; 
    }
}